.tab {
  text-align: center;
  margin: 0 auto 4em auto;
}

.year-tab, .location-tab {
  display: grid;
  list-style-type: none;
  font-weight: bold;
  color: #6A6A6A;
}

.year-tab {
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #6A6A6A;
  margin-bottom: 2.5em;
}

.year-tab li {
  position: relative;
  width: 50px;
  transform: rotate(-50deg);
  z-index: 0;
}

.year-tab li:hover {
  cursor: pointer;
  color: #451B73;
}

.year-tab li:focus, .event-btn:focus {
  outline: none;
}

.year-tab__active {
  color: #451B73;
  border-bottom: 0.3em solid #451B73;
}

.event-btn {
  margin-bottom: 2em;
  border-radius: 10px;
  line-height: 1.5rem;
}

.event-btn__location {
  color: black;
  margin-top: 0em;
}

.event-btn__image {
  margin-bottom: 10px;
}

.event-btn:hover {
  cursor: pointer;
}

.event-btn {
  max-width: 100%;
  margin-bottom: 2.5em;
  box-shadow: -2px 1px 10px rgb(58, 52, 83);
  border-top: 3px solid rgb(58, 52, 83);
  padding: 20px;
}

.panels {
  width: 75%;
  margin: 0 auto;
}

.panels__item .event-btn {
  display: none;
}

.panels__active .event-btn {
  display: block;
}

@media screen and (max-width: 240px) {
  .tab {
    font-size: 0.5rem;
    width: 150px;
  }

  .year-tab li {
    width: 20px;
  }

  .event-btn__location {
    font-size: 0.2rem;
  }

  .location-tab li:nth-child(1) {
    width: 40px;
  }
  
  .location-tab li:nth-child(2) {
    width: 70px;
  }
}

@media screen and (max-width: 320px) {
  .event-btn__location {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 375px) {
  .tab {
    width: 300px;
  }
}

@media screen and (min-width: 720px) {
  .tab {
    grid-column: 1 / 3;
  }

  article {
    display: block;
  }

  .panels__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (min-width: 1415px) {
  .quick-intro {
    margin-top: -9em;
  }
}