.event {
  display: none;
}

.event * {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%;
}

.event h3 {
  color: black;
  margin-top: 0.5em;
}

.event h3:hover{
  text-decoration: underline;
}

.active {
  display: block;
}

.button-container {
  text-align: center;
  margin-top: 0em;
  word-spacing: 1em;
}

.button-container button {
  background-color: #ffffff;
  outline: none;
  border: none;
  color: #6A6A6A;
}

.button-container button:hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 240px) {
  .button-container {
    margin-top: 1em;
  }
}

@media screen and (min-width: 30px) {
  .button-container {
    margin-top: 1em;
  }
}

@media screen and (min-width: 401px) {
  .button-container {
    padding-top: 0.5em;
  }
}

@media screen and (min-width: 500px) {
  .button-container button {
    margin-top: 0.5em;
  }
}