article{
  margin-bottom: 2em;
}

article:nth-child(3) {
  background-color: rgb(252, 248, 255);
  padding-bottom: 1em;
}

.about {
  margin: 0 20px 0 20px;
  padding: 1em 2em 1em 2em;
  background-color: rgb(58, 52, 83);
  box-shadow: 0px 4px 7px rgb(58, 52, 83);
  color: #EDE1FA;
  border-radius: 10px;
}

.about-image {
  display: none;
}

.event {
  width: 75%;
  margin: 0 auto 20px auto;
  padding: 25px;
  box-shadow: -2px 1px 10px rgb(58, 52, 83);
  border-top: 3px solid rgb(58, 52, 83);
  background-color: white;
  border-radius: 10px;
  line-height: 1.5rem;
}

.event ul {
  list-style-type: disc;
}

.explore-btn {
  display: block;
  margin: 20px auto;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: #451B73;
  box-shadow: -2px 1px 10px #451B73;
  border-top: 3px solid #451B73;
  padding: 20px;
  border-radius: 10px;

}

.explore-btn {
  color: white;
}

.explore-btn:hover {
  cursor: pointer;;
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

@media screen and (max-width: 240px) {
  .button-container {
    margin-top: 1em;
  }
}

@media screen and (min-width: 300px) {
  .button-container {
    margin-top: 1em;
  }
}

@media screen and (min-width: 401px) {
  .button-container {
    padding-top: 0.5em;
  }
}

@media screen and (min-width: 500px) {
  .button-container button {
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 900px) {
  article {
    padding-top: 150px;
  }

  article:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 3em 5em 0 5em;
  }

  .event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 0em 10em 0 10em;
  }

  article:nth-child(2) h2 {
    grid-column: 1 / 3;
  }

  .about-image {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1053px) {
  .about {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1415px) {
  .about {
    font-size: 1.5rem;
  }
}