@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0 0 0 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0em;
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(33, 24, 55);
  z-index: 1000;
}

a {
  text-decoration: none;
}

nav {
  float: right;
  margin-right: 0.5em;
}

.menu-icon {
  margin-top: 0.5em;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0 1rem 0 0;
  z-index: 1000;
}

.menu-icon__bar {
  width: 30px;
  height: 5px;
  background-color: rgb(195, 190, 208);
  margin: 6px 0;
}

.menu {
  display: none;
  position: absolute;
  margin-top: 2.5em;
  margin-left: -18em;
  list-style-type: none;
  background-color: rgb(33, 24, 55);
  width: 100%;
  height: 100vh;
  padding: 1em 0 1em 1.5em;
}

.menu .menu__item {
  margin-bottom: 0.7rem;
}

.menu a {
  font-weight: bold;
  color: rgb(195, 190, 208);
}

.menu a[href="#"] {
  color: #ffffff;
  border-bottom: 0.3em solid #ffffff;
}

.menu a:hover {
  color: #ffffff;
}

picture, img, video {
  max-width: 100%;
}

main {
  margin-top: 20px;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Arima Madurai';
  font-weight: lighter;
  line-height: 1.2em;
  font-size: 2.5rem;
}

.quick-intro {
  margin-top: 3.5em;
}

.quick-intro__header {
  position: absolute;
  margin-left: 0.4em;
  margin-top: -2em;
  background-color: #451B73;
  color: #ffffff;
  width: 80%;
  padding: 0.1em 0 0 0.2em;
  z-index: -1;
}

.quick-intro__image {
  position: relative;
  z-index: -2;
}

.breadcrumb {
  font-weight: bold;
  color: #6A6A6A;
  text-align: left;
  margin: 1.5em 0em 0em 1em;
}

.breadcrumb__focus {
  color: #451B73;
}

article {
  margin: 150px auto 0px auto;
  padding-top: 5px;
}

article h3 {
  font-size: 1.25rem;
  color: black;
  border-left: 4px solid black;
  padding-left: 10px;
}

article h4 {
  font-size: 1.2rem;
}

article h5 {
  font-size: 1rem;
}

article h2 {
  font-size: 3rem;
  text-align: center;
  color: #451B73;
  margin: 0 1em 0.5em 1em;
}

article:last-child {
  border-bottom: none;
}

iframe {
  display: block;
  margin: 0 auto;
}

footer {
  background-color: rgb(33, 24, 55);
  text-align: center;
  padding: 1.2em 0 1em 0;
  color: rgb(195, 190, 208);
  margin-top: 2em;
}

footer h1 {
  font-size: 1.5rem;
}

footer p {
  font-size: 0.5em;
}

footer div {
  word-spacing: 0.5em;
}

i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 11px #6A6A6A; 
  background: rgb(195, 190, 208);
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(33, 24, 55), #451B73);
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(33, 24, 55); 
}

@media screen and (max-width: 240px) {
  .quick-intro__header {
    font-size: 2rem;
  }
}

@media screen and (min-width: 375px) {
  .quick-intro__header {
    font-size: 2em;
  }

  .breadcrumb {
    margin-left: 1.25em;
  }
}

@media screen and (min-width: 400px) {
  .quick-intro {
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .quick-intro__image {
    display: block;
  }

  .quick-intro__header {
    text-align: left;
  }
}

@media screen and (min-width: 407px) {
  .quick-intro__header {
    font-size: 3rem;
  }
}

@media screen and (min-width: 610px) {
  .quick-intro__header {
    font-size: 4rem;
  }
  
  .breadcrumb {
    margin: 2em 0em 0em 1.6em;
  }
}

@media screen and (min-width: 690px) {
  .quick-intro__header {
    width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .menu {
    font-size: 0.7rem;
  }

  .quick-intro {
    grid-column: 1 / 3;
  }

  article {
    margin: 0 auto 0 auto;
  }

  .menu-icon {
    clear: right;
    display: none;
  }

  .menu {
    display: block;
    position: static;
    float: right;
    height: 100%;
    margin-left: 0em;
    margin-top: 0em;
  }

  .menu__item {
    display: inline;
    margin-right: 1em;
  }
}

@media screen and (min-width: 928px) {
  h2 {
    font-size: 3rem !important;
  }

  .quick-intro__header {
    font-size: 6rem;
    width: 700px;
  }

  .breadcrumb {
    margin: 3em 0em 0em 2.4em;
  }

  .quick-intro {
    margin-bottom: 2em;
  }

  .menu {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1415px) {
  .quick-intro__header {
    margin-left: 1em;
  }

  .breadcrumb {
    margin-left: 6em;
  }

  .quick-intro {
    margin-top: -12em;
  }
}